
html{
    width: 100%;
    height: 200%;
    background: linear-gradient(180deg, #120E20 29.51%, rgba(0, 75, 129, 0) 182.14%);
    box-sizing: border-box;
    color: #F9f9f9;
}


main, .nav_container, body p, body a{
    font-family: 'Nunito', sans-serif;
}

main h1, section h2, section li{
    font-family: 'Inter', sans-serif;
}


/* nav bar */

nav li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }

.nav_container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 13vh;
    font-weight: 400;
    justify-content: space-evenly;
    font-size: 1vw;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
}

.nav_container a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .nav_container a:hover:after { 
    width: 100%; 
    left: 0; 
  }


  
main .container {
    padding: 0rem 10rem;
}

main h1{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    font-size: 5vw;
    letter-spacing: -0.05em;
    line-height: 1.04;
    font-weight: bold;
    margin-top: 20vh;
    flex-basis: 10em;
    overflow: visible;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


#works {
    padding: 0rem 10rem;
}

.work_list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
}

.work_1, .work_2, .work_3, .work_4{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    width: 100%;
}

.view_btn {
    display: flex;
    cursor: pointer;
    width: 10vw;
    height: 3.6vw;
    font-size: 0.8vw;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    text-transform: uppercase;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 40px 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    line-height: 25px;
    border: 0.3px solid #f9f9f921;
}

.view_btn span {
    display: inline-block;
    transition: 0.4s;
   
}

.view_btn:hover{
    border-radius: 999px;
    background: rgba(249, 249, 249, 0.5);
    transition: color 200ms ease-in-out 0s;

}

  .view_btn span:after {
    content: '\00bb';
    position: relative;
    display: inline-block;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .view_btn:hover span {
    padding-right: 20px;
    
  }

  /* arrow */
  .view_btn:hover span:after {
    opacity: 1;
    right: 0.5;
  }


/* footer */

footer .info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5rem 10rem;
}

footer .email_info {
    display: flex;
    text-align: left; 
}

footer .email {
    padding-right: 4rem;
}


footer .social {
    display: flex;
    align-items: center;
    align-self: center;    
}


 /* footer icons*/

footer .iconify{
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
    width: 2vw;
    height: 2vw;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}



footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
         
}
